
.appBar{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    align-items:center;
    min-height:5vh;
    margin-top:10px;
    margin-bottom:10px;
}



.saveButton{
    padding: 10px 30px;
    background: transparent;
    border-radius: 30px;
    border: 1px solid #000;
    margin-right: 20px;
    cursor:pointer; 
}

.saveButton:hover{
    background:#000;
    color:#fff;
}



.titleStyles{
    text-align:center;
    text-transform:uppercase;
    padding-left:100px;
}

.bookText {
    page-break-inside: avoid; /* Prevent page breaks within content */
 }
 
 @media print {
    .page-break { page-break-before: always; } /* Use this class for manual breaks */
 }
 
 .bookContainer {
   /* Ensure the content expands fully */
   width: 100%;
}

.bookText {
   /* Prevent page break inside elements, especially large sections */
   page-break-inside: avoid;
}

/* Add manual page breaks where necessary */
.page-break {
   page-break-before: always;
}

@media print {
   .bookText {
      page-break-after: auto;
      overflow: visible;
   }
}
